{% extends "mensagens/base.html" %}
{% block title %}Cadastrar mensagem{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-sm-4 col-md-4 col-lg-4"></div> 
		<div class="col-sm-4 col-md-4 col-lg-4 border-box">
			<h1 class="h1">Cadastrar mensagem <i class="far fa-envelope"></i></h1>
			<form method="POST">
				{% csrf_token %}
				{{ form.as_p }}
				<a href="{% url 'mensagens:mensagens' %}"><button class="voltar" type="button"><i class="fas fa-arrow-alt-circle-left"></i> VOLTAR</button></a>
				<button class="enviar" type="submit">SALVAR <i class="fas fa-paper-plane"></i></button>
			</form>
		</div>
	</div>
{% endblock %}