{% extends 'mensagens/base.html' %}
{% load static %}
{% block title %}Bora guardar momentos das nossas vidas!{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<h1 class="h1">Bora guardar momentos das nossas vidas!</h1>
			<p id="index-p">Cadastre suas mensagens</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2 col-md-2 col-lg-2"></div>
		<div class="col-sm-8 col-md-8 col-lg-8">
 			<div class="video">
	 			<iframe id="index-video" src="https://www.youtube.com/embed/u1VNcvh_J3M?autoplay=1&mute=1"></iframe>
			</div>
		</div>
	</div>
{% endblock %}