{% extends "login/base.html" %}

{% block content %}
    {% if validlink %}
        <p>Insira sua nova senha.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Mudar senha" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Mudança de senha falhou.</h1>
        <p>O link para resetar sua senha é inválido, possivelmente porque já foi usado. Por favor, requira um novo link para mudar a sua senha.</p>
    {% endif %}
{% endblock %}
