{% extends 'mensagens/base.html' %}
{% block title %}Criar conta{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-4 col-md-4 col-lg-4"></div>
	<div class="col-sm-4 col-md-4 col-lg-4 border-box">
		<h1 class="h1">Criar conta</h1>
		<form class="form-site" action="/accounts/signup/" method="post">
			{% csrf_token %}
			{{form}}
			<div class="detail-botoes">
				<a href="{% url 'mensagens:mensagens' %}">
					<button class="voltar" type="button">
						<i class="fas fa-arrow-alt-circle-left"></i> VOLTAR
					</button>
				</a>
				<button type="submit" class="enviar">Criar conta <i class="fas fa-paper-plane"></i></button>
			</div>
		</form>		
	</div>
	<div class="col-sm-4 col-md-4 col-lg-4"></div>
</div>
{% endblock %}